body{
background: green;
font: normal 15pt Times;
color: black; 
text-align: center;
}

header{


}

section{
background: white;
border-radius: 10px;
padding: 10px;
width: 1000px;
margin: auto; 
text-align: left;
box-shadow: 5px 5px 5px blanchedalmond;


}

.item{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

}

#resultadopasso{
    word-break: break-all;

}

footer {
    color: black;
    font: normal 10pt Times;
font-style: italic;
text-align: center;


}